$space-large: 2.5rem;
$font-color: orange;

.page-title {
    margin-top: $space-large;
    margin-bottom: $space-large;
}

input[type=search] {
    box-shadow: none; 
}

.menu-text {
    color: $font-color;
}

.button {
    background-color: $font-color;
}

