@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Neuton');
@import url('https://fonts.googleapis.com/css?family=Pavanam');

//Colors 
$grey: #333333;
$lime-green: #97e565;
$light-lime: #ddf694;
$light-coral: #ff8e68;
$dark-coral: #ff5b5b;
$light-brown: sandybrown; 
$midnight-blue: #040467;
$gold: #ffd700;
$maroon: #800000;
$dark-rose: #c08879;
$light-rose: #f1c7b2;
$cream: #FCFBE3;
