@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

//Colors 
$grey: #333333;
$lime-green: #97e565;
$light-lime: #ddf694;
$light-coral: #ff8e68;
$dark-coral: #ff5b5b;
$light-brown: sandybrown; 

//Navigation Colors
$nav-background: $grey; 
$nav-text-color: white;

//Clock variables
$clock-text-color: white;
$clock-bg-color: #B5D0E2;
$clock-border-color: #2099E8;
