.page {
  text-align: center;
  font-family: 'Amatic SC', cursive;
  .title {
    font-size: 56px;
    color: black;
    background-color: $light-coral;
    padding-top: 2%;
    height: 150px;
    font-weight: bold;
    .bismallah {
      width: 25%;
    }
  }
  .event-content {
    margin: 5%;
    .mendhi-details{
      width: 100%;
      .event-details-title {
        font-size: 48px;
        background-color: $light-lime;
        color: black;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
      }
      .mendhi-content {
        .event-details {
          font-size: 40px;
          display: flex;
          .event-address{
            width: 50%;
            .address-title {
              color:  $dark-coral;
              font-weight: bold;
            }
          }
          .event-schedule {
            width: 50%;
            .schedule-title {
              color: $dark-coral;
              font-weight: bold;
            }
          }
        }
        .mendhi-map {
          a {
            font-size: 40px;
            text-decoration: none;
            color: $lime-green;
            &:hover {
              color: $dark-coral;
            }
          }
        }
      }
    }
    .rsvp-form {
      margin: auto;
      .event-form {
        .form-title {
          font-size: 32px;
          background-color: $light-lime;
          color: black;
          width: 40%;
          margin-left: auto;
          margin-right: auto;
          border-radius: 5px;
          border: none;
          margin-bottom: 2%;
        }
        button:focus {outline:0;}
        iframe {
          margin: auto;
          width: 70%;
          border: 3px solid $light-lime;
        }
      }
    }
  }
}
.footer {
  font-family: arial;
  .footer-message {
    color: #FF8E68;
    width: 90%;
    margin: auto auto 2% auto;
  }
  .footer-section {
    padding: 2%;
    color: white;
    background-color: $light-coral;
    img {
      width: 60%
    }
    div {
      width: 75%;
      margin: auto;
    }
  }
}