@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

html, body {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.page {
  text-align: center;
  .title {
    font-family: 'Great Vibes', cursive;
    font-size: 56px;
    background-color: $dark-rose;
    color: $cream;
    height: 170px;
    font-weight: bold;
    .title-content {
      display: flex;
      img {
        width: 10%;
        height: 11%;
      }
      .noor-pic {
        border-radius: 50%;
        margin: auto;
        -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
        transform: rotate(40deg);
      }
      .noor-cat-pic {
        border-radius: 50%;
        margin: auto;
      }
      .sul-pic {
        border-radius: 50%;
        margin: auto;
      }
      .sul-cat-pic {
        border-radius: 50%;
        margin: auto;
      }
      .header-graphic {
        border: 0px;
        margin: auto 0px auto 0px;
        width: 40%;
        img {
          width: 50%;
        }
      }
    }
    .event {
      margin-top: -1%;
    }
    .bismallah {
      width: 25%;
    }
  }
  
  .event-content {
    margin-bottom: 5%;
    .event-details-text {
      font-family: 'Great Vibes', cursive;
      font-size: 50px;
      color:$dark-rose; 
    }
    .event-details-title {
      font-family: 'Abril Fatface', cursive;
      font-weight: bold;
      font-size: 40px;
      background-color:$light-rose;
      margin: 2% auto 2% auto;
      border-radius: 5px;
      width: 80%;
      color: $cream;
    }
    .mendhi-content {
      display: flex;
      width: 80%;
      margin: auto;
      .event-details {
        width: 50%;
        font-family: 'Pavanam', sans-serif;
        font-size: 32px;
        .event-address {
          margin-bottom: 10%;
          img {
            width: 20%;
          }
          .address-title {
            font-family: 'Pavanam', sans-serif;
            color: $dark-rose;
            font-weight: bold;
          }
        }
        .event-schedule {
          margin-bottom: 10%;
          img {
            width: 15%;
          }
          .schedule-title {
            font-family: 'Pavanam', sans-serif;
            color: $dark-rose;
            font-weight: bold;
          }
        }
        .react-add-to-calendar {
          .react-add-to-calendar__wrapper {
            background-color: $dark-rose;
            border-radius: 5px;
            a {
              color: white;
              text-decoration: none;
            }
          }
          .react-add-to-calendar__dropdown {
            ul {
              list-style-type: none;
              li {
                font-size: 16px;
              }
            }
            a {
              font-size: 22px;
              text-decoration: none;
            }
          }
        }
        a {
          text-decoration: underline;
          font-size: 32px;
          color: $dark-rose;
          &:hover {
            color: $light-rose;
          }
        }
      }
      .rsvp-form {
        width: 70%;
        img {
          width: 15%;
        }
        .collapsed-div {
          width: 100%;
        }
        .event-form {
          margin: 0px;

          .rsvp {
            font-family: 'Great Vibes', cursive;
            font-size: 48px;
            width: 40%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 2%;
            color: $dark-rose;
          }
          button:focus {outline:0;}
          iframe {
            margin: auto;
            width: 80%;
            border: 3px solid $light-rose;
          }
        }
      }
    }
  }
}
.footer {
  font-family: arial;
  .footer-section {
    padding: 2%;
    color: white;
    background-color: $dark-rose;
    display:flex;
    .noor-sul {
      width: 20%;
      height: 10%;
      border-radius: 50%;
      position: relative;
      left: 10%;
    }
    .surah {
      width: 75%
    }
    div {
      width: 75%;
      margin: auto;
      font-size: 14px;
    }
  }
  .footer-email {
    background-color: #C08879;
    color: white;
    a {
      text-decoration: underline;
    }
  }
}

/////////////////////////// SMALL SCREENS //////////////////////////////////////
@media screen and (min-width: 481px) and (max-width: 909px) {
  .page {
    .title {
      font-size: 40px;
    }
  }
  .event-address {
    font-size: 24px;
  }
}

@media screen and (min-width: 910px) and (max-width: 1100px) {
  .page {
    .title {
      font-size: 45px;
    }
  }
}


@media screen and (max-width: 480px) {
.page {
  text-align: center;
  .title {
    font-family: 'Great Vibes', cursive;
    font-size: 32px;
    background-color: $dark-rose;
    color: $cream;
    height: 150px;
    font-weight: bold;
    .title-content {
      .noor-pic {
        width: 30%;
        height: 11%;
        border-radius: 50%;
        margin: auto;
        -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
        transform: rotate(40deg);
      }
      .sul-pic {
        width: 30%;
        height: 11%;
        border-radius: 50%;
        margin: auto;
      }
      .sul-cat-pic {
        display: none;
      }
      .noor-cat-pic {
        display: none;
      }
      .header-graphic {
        margin: auto 0px auto 0px;
        width: 40%;
        img {
          width: 100%;
        }
      }
    }
    .event {
      margin-top: -1%;
    }
    .bismallah {
      width: 25%;
    }
  }
  
  .event-content {
    .event-details-text {
      font-family: 'Great Vibes', cursive;
      font-size: 50px;
      color:$dark-rose; 
    }
    .event-details-title {
      font-weight: bold;
      font-size: 40px;
      background-color:$light-rose;
      margin: 2% auto 2% auto;
      border-radius: 5px;
      color: $cream;
    }
    .mendhi-content {
      display: inherit;
      .event-details {
        font-family: 'Pavanam', sans-serif;
        font-size: 24px;
        .event-address {
          width: 200%;
          margin-bottom: 10%;
          img {
            width: 20%;
          }
          .address-title {
            font-family: 'Pavanam', sans-serif;
            color: $dark-rose;
            font-weight: bold;
          }
        }
        .event-schedule {
          width: 200%;
          margin-bottom: 10%;
          img {
            width: 15%;
          }
          .schedule-title {
            font-family: 'Pavanam', sans-serif;
            color: $dark-rose;
            font-weight: bold;
          }
        }
        .react-add-to-calendar {
          .react-add-to-calendar__wrapper {
            position: relative;
            left: 50%;
          }
            li {
              position: relative;
              left: 50%;
            }
        }
        a {
          text-decoration: underline;
          font-size: 24px;
          color: $dark-rose;
          &:hover {
            color: $light-rose;
          }
        }
      }
      .rsvp-form {
        width: 100%;
        img {
          width: 20%;
        }
        .collapsed-div {
          width: 100%;
        }
        .event-form {
          margin: 0px;
          overflow-y: scroll;
          -webkit-overflow-scrolling: touch;

          button:focus {outline:0;}
          iframe {
            margin: auto;
            width: 80%;
            border: 3px solid $light-rose;
          } 
           .rsvp {
            font-family: 'Great Vibes', cursive;
            font-size: 48px;
            width: 40%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 2%;
            color: $dark-rose;
          }
        }
      }
    }
  }
}
  .footer {
    font-family: arial;
    .footer-section {
      display: inherit;
      color: white;
      background-color: $dark-rose;
      margin-left: 0px;
      margin-right: 0px;
      .noor-sul {
        width: 45%;
        height: 10%;
        border-radius: 50%;
        position: initial;
      }
      .surah {
        width: 100%;
      }
      div {
        font-size: 15px;
        width: 100%;
        margin-bottom: 5%;
      }
    }
  }
}