@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

// font-family: 'Neuton', serif;
// font-family: 'Great Vibes', cursive;

.page {
  text-align: center;
  .title {
    font-family: 'Great Vibes', cursive;
    font-size: 56px;
    background-color: $dark-rose;
    color: $cream;
    padding-top: 2%;
    height: 170px;
    font-weight: bold;
    .event {
      margin-top: -1%;
    }
    .bismallah {
      width: 25%;
    }
  }
  
  .event-content {
    margin-bottom: 5%;
    .event-details-text {
      font-family: 'Great Vibes', cursive;
      font-size: 40px;
      color:$dark-rose; 
    }
    .event-details-title {
      font-family: 'Great Vibes', cursive;
      font-size: 40px;
      background-color:$light-rose;
      margin: 2% auto 2% auto;
      border-radius: 5px;
      width: 80%;
      color: $cream;
    }
    .mendhi-content {
      display: flex;
      width: 80%;
      margin: auto;
      .event-details {
        width: 50%;
        font-family: 'Pavanam', sans-serif;
        font-size: 32px;
        .event-address {
          margin-bottom: 10%;
          img {
            width: 20%;
          }
          .address-title {
            font-family: 'Pavanam', sans-serif;
            color: $dark-rose;
            font-weight: bold;
          }
        }
        .event-schedule {
          margin-bottom: 10%;
          .schedule-title {
            font-family: 'Pavanam', sans-serif;
            color: $dark-rose;
            font-weight: bold;
          }
        }
        a {
          text-decoration: underline;
          font-size: 32px;
          color: $dark-rose;
          &:hover {
            color: $light-rose;
          }
        }
      }
      .rsvp-form {
        width: 70%;
        img {
          width: 11%;
        }
        .collapsed-div {
          width: 100%;
        }
        .event-form {
          margin: 0px;

          .rsvp {
            font-family: 'Great Vibes', cursive;
            font-size: 48px;
            width: 40%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 2%;
            color: $dark-rose;
          }
          button:focus {outline:0;}
          iframe {
            margin: auto;
            width: 70%;
            border: 3px solid $light-rose;
          }
        }
      }
    }
  }
}
.footer {
  font-family: arial;
  .footer-section {
    padding: 2%;
    color: white;
    background-color: $dark-rose;
    display:flex;
    .noor-sul {
      width: 20%;
      height: 10%;
      margin-left: 10%;
      border-radius: 50%;
    }
    .surah {
      width: 75%
    }
    div {
      width: 75%;
      margin: auto;
      font-size: 14px;
    }
  }
}