@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

.home-page {
  text-align: center;
  font-family: 'Great Vibes', cursive;
  .home-body {
    .noor-sulayman {
      color: white;
      font-size: 80px;
      padding-top: 10%;
    }
    background: url("/home_fireworks.jpg");
    background-repeat: no-repeat;
    height: 650px;
    form {
    font-family: 'Amatic SC', cursive;
      input {
        text-align: center;
        height: 60px;
        width: 50%;
        text-align: center;
        font-size: 36px;
        margin: 1%;
        outline: 0;
        border-radius: 5px;
        border: none;
      }
      .code-input {
        margin-top: 10%;
        background-color: white;
        opacity: .7;
        margin: auto;
        font-family: 'Open Sans Condensed', sans-serif;
      }
      .submit-btn {
        font-size: 32px;
        border: 1px solid lightcoral;
        background: lightcoral;
        color: white;
        border-radius: 5px;
        opacity: .9;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .noor-sulayman {
    font-size: 80px;
  }
  .submit-btn {
    font-size: 24px;
  }
}